@{
	ViewData["Title"] = "Sign in";
}
@model SignInModel

<form method="post" class="needs-validation" novalidate>
    <input type="hidden" asp-for="User.Id" />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label asp-for="User.Login">Login</label>
        <input type="text" asp-for="User.Login" class="form-control" />
        @Html.ValidationMessageFor(model => model.User.Login, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label asp-for="User.Password">Password</label>
        <input type="password" asp-for="User.Password" class="form-control" />
        @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
