@{
	ViewData["Title"] = "Sign in";
}
@model SignInModel

<div class="d-flex flex-column align-items-center">
    <h3>Sign In</h3>
	<form method="post" class="needs-validation d-flex flex-column align-items-center" style="width: 250px;">
        @Html.HiddenFor(x => x.User.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label asp-for="User.UserName">Login</label>
            <input type="text" asp-for="User.UserName" class="form-control" required />
            <span asp-validation-for="User.UserName" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="User.PasswordHash">Password</label>
            <input type="password" asp-for="User.PasswordHash" class="form-control" required />
            <span asp-validation-for="User.PasswordHash" class="text-danger" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Send</button>
    </form>
</div>
