<div class="container">
	<div class="d-flex">
		<form>
			<button class="btn btn-primary" type="button">Add</button>
		</form>
		<form>
			<button class="btn btn-primary" type="button">Delete</button>
		</form>
	</div>
	<div class="">
		<div class="container-fluid d-flex">
			<div>
				<input type="checkbox"/>
			</div>
			<div>
				<div class="items d-flex flex-row flex-wrap">
				<div class="item-task">
					<p>Name</p>
					<div class="d-flex">
						<p>Priority</p>
						<p>State</p>
					</div>
					<form>
						<button type="submit" class="btn"/>
					</form>
				</div>
			</div>
			<div>
				<input type="checkbox"/>
			</div>
			</div>
		</div>
	</div>
</div>