@{
    ViewData["Title"] = "Home";
}
@model IndexViewModel

@if ((bool)ViewBag.IsAuthenticated)
{
    @Html.Partial("_ViewTask", Model)
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Please enter your personal account</p>
    </div>
}
