@{
    ViewData["Title"] = "Home";
}

@if((bool)ViewBag.IsAuthenticated)
{
    
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Please enter your personal account</p>
    </div>
}
