@{
    ViewData["Title"] = "Profile";
}
@model IndexModel

<h1>Profile</h1>
<form asp-action="EditDetails" method="post">
    @Html.HiddenFor( x => x.User.Password)
    <div class="form-group">
        <p><em style="font-size: 20px;">Id: @Model.User.Id</em></p>
    </div>
    <div class="form-group">
        <label asp-for="User.Login">Login</label>
        <input asp-for="User.Login" class="form-control" />
        <span asp-validation-for="User.Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.Email">Email</label>
        <input asp-for="User.Email" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.Phone">Phone</label>
        <input asp-for="User.Phone" class="form-control" />
        <span asp-validation-for="User.Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.FirstName">First Name</label>
        <input asp-for="User.FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="User.LastName">Last Name</label>
        <input asp-for="User.LastName" class="form-control" />
    </div>
    <div class="from-group">
        <button type="submit" class="btn btn-primary">Save</button>
        
    </div>
</form>

<hr />

<h3>Change Password</h3>
<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="Password">New Password</label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm New Password</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>


<a class="btn btn-danger" asp-action="Index">Clear</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}